#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
.avatar-IMG #imageResult {
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
}
.sidebar .nav {
    width: 235px !important;
}
.sidebar .sidebar-nav, .sidebar .sidebar-scroll {
    width: 240px !important;
}
